body {
  background-color: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

header {
  background-color: purple;
  padding: 20px;
}

button {
  background-color: pink;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
